

<%- include('components/header') -%>


<div class="card-body">
<h2 class="card-title"><%= question.question %></h2>
<p class="card-text"><%= question.description %></p>
</div>

<div class="questionBtn">
    <a class="btn btn-warning" href="/edit-question/<%= question.id %>">Edit Question</a>
    <a class="btn btn-danger" href="/delete-question/<%= question.id %>">Delete Question</a>
</div>

<form method="POST" action="/comment-question/<%= question.id %>" class="login">
<div class="input-group">
    <span class="input-group-text">Add a Comment</span>
    <textarea name ="comment" class="form-control" aria-label="With textarea"></textarea>
    <!-- <a class="btn btn-danger" type="submit" href="" >Comment Question</a> -->
    <br>
    <button type="submit" class="editbut">Comment Question</button>
  </div>
</form>






<%- include('components/footer') -%>